.button {
    background-color: rgb(254, 0, 0);
    color: rgb(236, 106, 0);
    border: 1px solid rgb(255, 0, 0);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: white;
    color: black;
  }
  