/* src/components/molecules/Card.css */
.card {
  position: relative;
  width: 400px; /* Aumentar el tama침o */
  height: 250px; /* Aumentar el tama침o */
  background: linear-gradient(-45deg, #292828 0%, #000000 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  border: 1px solid white;
  margin: 10px;
}

.card__image {
  position: absolute;
  width: 70%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover {
  transform: scale(1.05); /* Reducir la rotaci칩n */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
}

.card:hover .card__content {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 16px; /* Aumentar el tama침o del texto */
  color: #ffffff;
  line-height: 1.4;
}

.card:hover svg {
  transform: scale(0);
}
