.music-section {
  padding: 30px;
  width: 530px;
  min-height: 370px;
  border-radius: 20px;
  background: #000000;
  box-shadow: 5px 5px 6px #d5ce00, -5px -5px 6px #d5ce00;
  transition: 0.4s;
  font-size: 18px;
  font-weight: 500;
  color: rgb(196, 175, 12);
  translate: 0 -10px;
  position: relative;
  left: 300px;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 70vh; 
  }
  
  .music-section img {
    margin-right: 90px;
  }
  